extends layout

block content
    h1= title
    if brands.length > 0
        table.table
            thead
                tr
                    th Brand
                    th Approved
            tbody
                each brand in brands
                    tr(class=brand.approved ? 'success' : 'danger')
                        td #{brand.name}
                        td #{brand.approved}
    else
        p No brands have been added yet

    a#add.btn.btn-primary(href="../admin/brand") Add Brand