extends layout

block content
    h1= title
    if brands.length > 0
        table.table
            thead
                tr
                    th Brand
            tbody
                each brand in brands
                    tr
                        td #{brand.name}
    else
        p No brands have been added yet

    a#add.btn.btn-primary(href="../admin/brand") Add Brand