extends layout

block content
    h1= title
    if resultTypes.length > 0
        table.table
            thead
                tr
                    th ResultType
            tbody
                each resultType in resultTypes
                    tr
                        td #{resultType.description}
    else
        p No result types have been added yet

    a#add.btn.btn-primary(href="../admin/resulttype") Add Result Type