extends layout

block content
    h1= title
    if results.length > 0
        table.table
            thead
                tr
                    th Result
            tbody
                each result in results
                    tr
                        td #{result.description}
    else
        p No results have been added yet

    a#add.btn.btn-primary(href="../admin/result") Add Result