extends layout

block content
    h1 New Product
    p Add new product information
    form(action="/user/product" method="post")
        .form-group
            label(for="brand") Brand
            select#brand.form-control(name="brand")
                for brand in brands
                    option(value='#{brand.brandid}') #{brand.name}
        .form-group
            label(for="name") Name
            input#name.form-control(type="text" name="name" placeholder=" ProductName")
        .form-group
            label(for="description") Description
            textarea#description.form-control(rows=5 name="description" placeholder="Description")
        .form-group
            label Ingredients
            textarea#ingredientPaste.form-control(name="ingredientPaste" rows=5 placeholder="Paste your comma seperated list of ingredeints here.")
        .form-group
            label(for="resultType") Results of using this product
            select#resultType.form-control(name="resultType")
                for resultType in resultTypes
                    option(value='#{resultType.resulttypeid}') #{resultType.description}
        .form-group
            button.btn.btn-primary(type="submit") Save


